# ==========================
# Machine Learning
# ==========================
tensorflow-cpu>=2.16.1
numpy==1.26.4
scikit-learn==1.5.1
pandas==2.2.2
matplotlib==3.9.0
opencv-python==4.10.0.84
Pillow==10.4.0

# ==========================
# API
# ==========================
fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9

# ==========================
# Dashboard
# ==========================
streamlit==1.37.0

# ==========================
# Load Testing
# ==========================
locust==2.31.3

# ==========================
# Utilities
# ==========================
requests==2.32.3
tqdm==4.66.4
prometheus-client==0.16.0